@media ( max-width: 980px) {
.container {
  padding: 0 15px;
  }

  .title {
      &_left {
        font-size: 25px;
        line-height: 1.3;
      }
    }
.advantages {
  &__block {
    padding: 0 10px;
  }
  &__text {
    font-size: 15px;
  }
}

}

@media (max-width: 767px) {
  .header {
    &__logo {
      width: 200px;
    }
    &__official {
      font-size: 10px;
      span {
        font-size: 15px;
      }
    }
    &__phone {
      font-size: 15px;
    }
  }

.promo {
  padding: 15px 0 53px 0;
  min-height: 450px;
  &__wrapper {
    margin-top: 50px;
  }
  &__header {
    font-size: 38px;
    line-height: 38px;
  }
  &__subheader {
    font-size: 21px;
    line-height: 21px;
  }
  &__icons {
    margin-top: 25px;
  }
  &__icon {
    width: 100px;
    font-size: 13px;

  }

}

.button {
  &_main {
    margin-top: 37px;
  }
}

.advantages {
  padding: 40px 0 50px 0;
  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }


  &__block {
    width: 100%;
    padding: 0px 0px 0px 0px;
    img {
      padding-top: 34px;
    }
  }
  &__header {
    margin-top: 5px;
  }
  &__text {
    margin-top: 5px;
  }
}

.consultation {
  padding: 50px 0;
  min-height: 560px;
}
.title {
font-size: 27px;
line-height: 27px;
  &_left {
    font-size: 25px;
    line-height: 1.3;
  }
}

.carousel {
  padding: 50px 0;
  &__inner {
    img {
      width: 80%;
    }
  }
  .prev, .next {
    display: none;
  }
  .tns-nav {
    display: flex;
    justify-content: center;
    button {
      width: 5px;
      height: 5px;
      padding: 5px;
      margin: 5px;
      border-radius: 100%;
      background-color: green;
    }
    .tns-nav-active {
      background-color: red;
    }
  }
}
.catalog {
  padding-bottom: 30px;
  &__tab {
    width: 150px;
    height: 45px;
    font-size: 14px;
  }
  &__tabs {

    margin-top: 30px;
  }
  &__content {
    margin-top: 40px;
  }
}

.comments {
  &__content {
    margin: 30px 0px 30px 0px;
    
  }
  .item {
    &__row {
      flex-wrap: wrap;
      justify-content: center;
      margin-bottom: 20px;
    }
  }
}
.footer {
  height: 500px;
  iframe {
    height: 500px;
  }
  &__info {
    width: 360px;
    height: 200px;
    padding: 30px 38px 30px 38px;
  }
  &__address {
    margin-bottom: 25px;
    font-size: 17px;
    line-height: 17px;
  }
  &__phone {
    margin-bottom: 27px;
    font-size: 17px;
    line-height: 17px;
  }
  &__social-item {
    width: 40px;
    height: 40px;
  }
}

}

@media (max-width: 575px) {
.header {
  position: relative;
  &__logo {
    width: 140px;
  }
  &__official {
    font-size: 10px;
    margin-left: 5px;
  }
  span {
    font-size: 12px;
  }
  &__contacts {
    position: absolute;
    top: 45px;
    left: 50%;
    transform: translateX(-50%);
  }
}

.promo {
  padding: 15px 0 30px 0;
  min-height: 450px;
  &__wrapper {
    margin-top: 80px;
  }
  &__header {
    font-size: 24px;
    line-height: 24px;
  }
  &__subheader {
    font-size: 13px;
    line-height: 13px;
  }
  &__icons {
    width: 290px;
  }
  &__icon {
    font-size: 12px;
  }
  &__link {
    font-size: 14px;
  }
}


.button {
  &_main {
    width: 250px;
  }
}

.advantages {
  padding: 20px 0 30px 0;
  &__wrapper {
    img {
    padding-top: 24px;
    }
  }
  &__header {
    margin-top: 0;
  }
  &__text {
    font-size: 14px;
    margin-top: 0;
  }
}

 .title {
    font-size: 22px;
    line-height: 22px;
  }


.consultation {
  padding: 30px 0 32px 0;
  min-height: 410px;
  &__descr {
    margin-top: 25px;
    font-size: 14px;
    }
  }

.feet-form {
  margin-top: 15px;
  width: 250px;
  input {
    width: 250px; /*Во избежании деформации на Мозилла андроид инпут телефон*/
    height: 45px;
     margin-bottom: 10px;
     &:nth-child(3) {
      margin-bottom: 15px;
    }
  }
  &_mt25 {
    margin-top: 25px;
  }
}
.button {
  &_submit {
    height: 50px;
   
  }
}

  .title {
    &_left {
      font-size: 13px;
      line-height: 1.4;
    }
  }
.carousel {
  padding: 30px 0;
}
.catalog {
  &__tab {
    width: 90px;
    height: 45px;
    line-height: 43px;
    font-size: 9px;
    margin: 0 4px;
  }
  &-item {/**/
    width: 280px;
    padding: 13px 11px 14px 11px;
    &__descr {
      font-size: 12px;
    }
    &__old-price {
      font-size: 14px;
      line-height: 14px;
    }
    &__price {
      font-size: 17px;
      line-height: 17px;
    }
    &__list {/**/
      li {
        font-size: 13px;
        word-spacing: 0px;
      }
    }
  }
}

.comments {
  .item {
    &__column img {
      margin-bottom: 10px;
    }
    &__subtitle {
      margin-bottom: 14px;
    }
    &__text p {
      margin-bottom: 19px;
    }
  }
}
.footer {
  height: 400px;
  iframe {
    height: 400px;
  }
  &__info {
    width: 242px;
    height: 170px;
    padding: 20px 0px 30px 0px;
  }
  &__address {
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 14px;
  }
  &__phone {
    margin-bottom: 22px;
    font-size: 16px;
    line-height: 16px;
  }
  &__social-item {
    width: 40px;
    height: 40px;
  }
}

.modal{
  width: 300px;
  min-height: 345px;
  padding: 28px 21px 25px 21px;
  &__close{
    position:absolute;
    top: 3px;
    right: 2px;
    font-size: 36px;
    line-height: 21px;
  }
  &__subtitle{
    font-size: 16px;
    line-height: 16px;
    margin-bottom: 15px;
  }
  &__descr{
    margin-top: 10px;
    font-size: 12px;
  }

  /*Кнопка modal mini*/
  &_mini {
    min-height: 140px;
  }
}
.pageup {
  width: 30px;
  height: 30px;
  img {
    width: 100%;
  }
}

}
